#about{
    min-height: 100vh;
    background: url('./../dest/img/Portofolio Background1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    .panel{
      
        background-color: white;
        display: flex;
        img{
            height: 300px;
            border-radius: 50%;
        }
        
    }
}